<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Text2Speech - Licenta</title>

    <style>
      .content {
        max-width: 550px;
        margin: auto;
      }

      .audio-container{
        display: flex;
        justify-content: center;
        align-items: center
      }

      .loader {
        border-left: 16px solid #f3f3f3; /* Light grey */
        border-top: 8px solid blue;
        border-right: 16px solid green;
        border-bottom: 8px solid red;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 2s linear infinite;
        max-width: 500px;
        margin: auto;
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }

      .input { 
        padding: 8px; 
        border: 1px solid #ddd; 
        color: #555; 
        display: inline-block; 
      }
      .input[type=text] { 
        width: 100px; 
      }
      .input[type=range] { 
        width: 200px; 
      }
    </style>

  </head>
  
  <body>

    <!-- Page Content -->
    <div class="content">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h1 align="center">Sintetizarea textului folosind Inteligenta Artificiala</h1>
          <br> <br> <br>

          <!-- Input box -->
          <input id="text" placeholder="Introduceti textul" size=45 type="text" name="text"> 

          <!-- Button -->
          <button id="speak-button" name="speak">Go!</button>
          <br/><br/>

          <!-- Griffin-Lim method dropdown -->
          <select id="gl_select">
            <option value="gla">Griffin-Lim</option>
            <option value="fgla">Fast Griffin-Lim</option>
            <option value="fgla2" selected>Fast Griffin-Lim 2</option>
            <option value="mfgla">Modified Fast Griffin-Lim</option>
            <option value="admm">Griffin-Lim with Alternating Direction Method of Multipliers</option>
          </select>
          <br> <br>
 
          <!-- Frame shift slider -->
          <div>
            <div>
              Dimensiune shiftare(ms):
              <input id="range_in" type="text" value="9" class="input" readonly>
            </div>
            <input id="range_val" type="range" min="1" max="50" oninput="updateRangeInput(this, 'range_in')" value="9" class="input">
          </div>

          <br> <br>

          <!-- Iteration slider -->
          <div>
            <div>
              Numar iteratii:
              <input id="iteratii_in" type="text" value="5" class="input" readonly>
            </div>
            <input id="iteratii_range" type="range" min="1" max="60" oninput="updateRangeInput(this, 'iteratii_in')" value="5" class="input">
          </div>

          <br> <br>

          <!-- Loader -->
          <div id="loader" class="loader" hidden></div> 

          <!-- Audio containter -->
          <div class='audio-container'>
            <audio id="audio" controls autoplay hidden download></audio>
          </div>
        
          <!-- Infos header-->
          <h1 align="center" id="info_head" hidden>Informatii rezultat</h1>
          <br><br>

          <!-- Time info -->
          <label id="time_label" hidden>Timp de rulare:</label>
          <input id="time_info" type="text" width="10px" readonly hidden>

          <!-- Error message if needed-->
          <p id="message" align="center"></p>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script>
            function updateRangeInput(elem, target) {
              document.getElementById(target).value = elem.value
            }

            function q(selector) {return document.querySelector(selector)}
            q('#text').focus()
            q('#speak-button').addEventListener('click', function(e) {
                text  = q('#text').value
                gl    = q('#gl_select').value
                shift = q('#range_in').value 
                iter  = q('#iteratii_in').value
                var date = new Date()
                if (text) {
                    q('#speak-button').disabled = true
                    q('#audio').hidden = true
                    q('#loader').hidden = false
                    q('#message').hidden = true
                    q('#info_head').hidden = true
                    q('#time_info').hidden = true
                    q('#time_label').hidden = true
                    start_time = performance.now()
                    synthesize(text, gl, shift, iter)
                    end_time = performance.now()
                    q('#time_info').value = end_time - start_time
                }
                e.preventDefault()
                return false
            })
            function synthesize(text, gl, shift, iter) {
                fetch('/api/tts?text=' + encodeURIComponent(text) + '&gl=' + encodeURIComponent(gl) + '&shift=' + encodeURIComponent(shift) + '&iter=' + encodeURIComponent(iter), {cache: 'no-cache'})
                    .then(function(res) {
                        if (!res.ok) throw Error(res.statusText)
                            return res.blob()
                        }).then(function(blob) {
                            q('#speak-button').disabled = false
                            q('#audio').src = URL.createObjectURL(blob)
                            q('#audio').hidden = false
                            q('#loader').hidden = true
                            q('#info_head').hidden = false
                            q('#time_info').hidden = false
                            q('#time_label').hidden = false
                        }).catch(function(err) {
                            q('#message').hidden = false
                            q('#message').textContent = 'Error: ' + err.message
                            q('#speak-button').disabled = false
                            q('#loader').hidden = true
                        })
            }
        </script>

  </body>

</html>
